#druharada{
    margin-top: 575px;
}
#jd2{
    margin-left: 600px;
}
#jd1{
    margin-left: 400px;
}
#ts1{
    margin-left: 350px;
    margin-top: 575px;
}
#text{
    margin-left: 300px;
    margin-right: 300px;
}